#ReactionWrapper {
  background:  linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FF5555;
}

#MemoryWrapper {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FFB21E;
}

#VerbalWrapper {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #00BB8F;
}

#VisualWrapper {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #1125D6;
  margin-bottom: 0px;
}

#ReactionHeadContainer {
  color: #FF5555;
}

#MemoryHeadContainer {
  color: #FFB21E;
}

#VerbalHeadContainer {
  color: #00BB8F;
}

#VisualHeadContainer {
  color: #1125D6;
}